numpy>=1.14.3
spectral>=0.19
tqdm>=4.15.0
visdom>=0.1.5
seaborn>=0.8
scikit-learn>=0.19.0
scikit-image>=0.13.1
torchsummary>=1.5
deprecated
mlxtend
winmltools
keras
onnx_tf
onnxruntime
umap
lightgbm
torch>=1.0.1
torchvision>=0.2.1
scipy>=1.1.0
gitpython==2.1.11
torchnet>=0.0.4
tensorflow>=1.7.0
pydot>=1.2.4
tabulate>=0.8.2
pandas>=0.22.0
jupyter>=1.0.0
matplotlib>=2.2.2
qgrid>=1.0.2
graphviz>=0.8.2
ipywidgets>=7.1.2
bqplot>=0.10.5
pyyaml
pytest>=3.5.1
xlsxwriter>=1.1.1
pretrainedmodels
gym==0.12.5
